<h1>Dashboard</h1>

<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>
    <div class="col-8">
      <h1><%= @user.email %></h1>
      <h3> Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments</h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>
  <div class="clear"></div>
</div>

<!-- Still to be done: Make place names hyperlinks to the same place page -->
<!-- PLACES LIST booyah-box -->
<div class="booyah-box col-10 offset-1">
  <h1 class="float-left">Places I've Reviewed</h1>
  <div class="clear"></div>
  <p></p>
  <div id="scroll">
    <div class="row">
      <% @user.places.each do |place| %>
      <% if @user.comments %>
        <!-- Still need to do: Check if you actually put in a comment, vs. just entered a place name -->
        <div class="col-12 col-sm-6">
          <%= place.name %>
          <%#= link_to path_place(place), @user.places.name %>  <!-- Does NOT work <<<<<<<<<<<  -->
          <% end %>
        </div>
      <% end %><br/ >
    </div>
  </div>
</div>

<!-- Still to be done: Make comments hyperlinks to same comment on place page -->
<!-- COMMENTS booyah-box -->
<div class="booyah-box col-10 offset-1">
  <h1 class="float-left">My Comments</h1>
  <div class="clear"></div>
    <p></p>
    <div id="scroll">
      <div class="row">
        <% @user.comments.each do |comment| %>
          <div class="col-12 col-sm-6">
            <blockquote>
              <% if comment.humanized_rating.present? %>
                <b><%= comment.humanized_rating %></b> -
              <% end %>
              <%= comment.message %>
              <small><%= comment.user.email %></small>
            </blockquote>
          </div>
        <% end %>
        <br/ >
      </div>
    </div>
</div>

<!-- Put delete (X) icon here for use with photos -->
<!-- Still to be done: Make photos hyperlinks to the place page that has that photo -->
<!-- PHOTOS booyah-box -->
<div class="booyah-box col-10 offset-1">
  <h1 class="float-left">My Photos</h1>
  <div class="clear"></div>
    <div id="scroll">
      <div class="row">
       
<!-- Still to be done: Make photos visible (known?) to user.show -->
       
          <% @user.photos.each do |photo| %>
            <div class="col-12 col-sm-2", style="padding-top:50px; padding-bottom:30px" >
               <% if @user.photos.picture.present? %>
               <h5>xxxxxxxxxx photo</h5>
                 
                   <%= image_tag photo.picture, height: '100px', class: 'image_fluid' %></br >
                
                 <%= photo.caption %>
               <% end %>
            </div>
          <% end %>
  
        <br/ >
      </div>
    </div>
</div>

<!-- Include BACK link -->
<div class="float-right"> 
  <%= link_to "<< Back <<", root_url %>
</div>
