<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" interval= "5000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <!-- <img class="d-block img-fluid" src="..." alt="First slide"> as imported originally -->
       <%= image_tag 'slider1.png', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Find the best burger places</h3>
       </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider2.png', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Looking for sushi?</h3>
       </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider3.png', class: 'd-block img-fluid' %>
       <div class="carousel-caption d-none d-md-block">
         <h3>Wanna kabob?</h3>
       </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
     <div class="clearfix">   
       <div class="pull-left">
         <h1><%= link_to place.name, place_path(place) %></h1>
         <i><%= place.address %></i><br /><br />
         <h6><%= place.description %></h6>
         <% if place.user.present? %>
           <small><%= place.user.email %></small>
         <% end %>
       </div>
   
      <div class="pull-right">
        <% if place.photos.present? %>
          <%= image_tag place.photos.last.picture, height: '100px', class: 'image_fluid' %></br >
          
<!--  Figure out how to used Fancybox for the photo displayed here in the booyah-box  -->

          <%= place.photos.last.caption %><br />
        <% end %>  
      </div>
     </div>
       
     <div class="clear"></div>
    
    <% if place.comments.present? %>
      <div class="col-12">
       <blockquote>
         <% if place.comments.last.humanized_rating.present? %>
           <b><%= place.comments.last.humanized_rating %></b> -
         <% end %>
         <%= place.comments.last.message %><br />
           <small><%= place.comments.last.user.email %></small>
           <div class="pull-right">
             <small><%= place.comments.last.created_at.strftime("%B %d, %Y") %></small>
           </div>
       </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
    
<%= paginate @places %>


    