<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %>
    <% if current_user && current_user == @place.user %>
      <div class="float-right">
        <%= link_to "Edit", edit_place_path(@place), class: 'btn btn-primary' %>
        <%#= link_to (‘<i class=“fa-pencil icon etc. icon-black”> </i>’).html_safe, edit_place_path(@place), :method=> :delete, :remote=> true%>
        <%= link_to "Delete", place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </h1>
  
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>
   
  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>
      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %> };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNzR_wxG1YXt7qdMs2b-o7gLSTMGXUwUw&callback=initMap">
    </script>
    <div id="map"></div>
  <% end %>
</div>
  
  <br />
  
  <!-- Call Places_buttons method here to put in buttons WHEN I can figure out how to do so - Guy -->
  <!-- Comments booyah-box -->
<div class="booyah-box col-10 offset-1">
  <div class="float-right">
    <% if current_user && current_user == @place.user %>
      <!--  Moved places edit buttons to booyah-box, kept comments and photos buttons separate and below -->
      <!-- Trying to change these buttons to smaller pencil and trash can icons but having difficulties -->
      <%#= link_to (‘<i class=“fa fa-thumbs-up fa-lg”> </i>’).html_safe, edit_place_path(@place), :method=> :delete, :remote=> true%>
      <%#= link_to "Destroy", place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add Comment
      </button>
    <% end %>
  </div>

  <div class="col-10 offset-1">
    <h1 class="float-left">Comments</h1>
  </div>

  <div class="clear"></div>

  <% if current_user && current_user == @place.user %>
    <div id="scroll">
      <div class="row">
        <% @place.comments.each do |comment| %>
          <div class="col-12 col-sm-6">
            <blockquote>
              <% if comment.humanized_rating.present? %>
                <b><%= comment.humanized_rating %></b> -
              <% end %>
              <%= comment.message %>
              <small><%= comment.user.email %></small>
            </blockquote>
          </div>
        <% end %>
        <br/ >
      </div>
    </div>
  <% end %>
</div>
  
<div class="clear"></div>
  
<div class="booyah-box col-10 offset-1">
  <div class="float-right">
    <% if current_user && current_user == @place.user %>  
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myPhotoModal">
        Upload Photo
      </button>
    <% end %>
  </div>
  
  <div class="col-10 offset-1">
    <h1 class="float-left">Photos</h1>
  </div>
  
  <div class="clear"></div>
  
    <div id="scroll">
       <div class="row">
          <% @place.photos.each do |photo| %>
            <div class="col-12 col-sm-2", style="padding-top:50px; padding-bottom:30px" >
               <% if photo.picture.present? %>
                 <!--<div class="fancybox">-->
                   <%= image_tag photo.picture, height: '100px', class: 'image_fluid' %></br >
                 <!--</div>-->
                 <%= photo.caption %>
               <% end %>
            </div>
          <% end %>
       </div>
    </div>
</div>


<!--<p>  Figure out how to used Fancybox for the photos display across the booyah-box  -->
<!--  Add a <code>data-fancybox</code> attribute to any image link to enable fancyBox.-->
<!--</p>-->

<!--<p>-->
<!--  <a href="https://farm4.staticflickr.com/3953/15594397982_477385f90d_b_d.jpg" data-fancybox>-->
<!--    <img src="https://farm4.staticflickr.com/3953/15594397982_477385f90d_m_d.jpg" />-->
<!--  </a>-->
<!--</p>-->


<div class="clear"></div>
  
<!-- COMMENTS Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
         <h4 class="modal-title" id="myModalLabel">Add a Comment</h4>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Save Changes", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

 <!-- Can't delete a photo until you can separate each one and ask which one or display one and then ask if to delete it -->
 <%#= link_to "Kill Photo", place_photos_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger' %>
<!-- PHOTOS Modal -->
<div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
         <h4 class="modal-title" id="myModalLabel">Upload a Photo</h4>
      </div>
      <%= simple_form_for @photo, url: place_photos_path(@place), multiple: true do |f| %>
        <div class="modal-body">     
          <%= f.input :picture %>
          <%= f.input :caption %><br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Save Changes", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
